@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .book-spine-gradient {
    background: linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0) 12%,
        hsla(0, 0%, 100%, 0.25) 29.25%,
        hsla(0, 0%, 100%, 0) 50.5%,
        hsla(0, 0%, 100%, 0) 75.25%,
        hsla(0, 0%, 100%, 0.25) 91%,
        hsla(0, 0%, 100%, 0)
      ),
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.03),
        rgba(0, 0, 0, 0.1) 12%,
        transparent 30%,
        rgba(0, 0, 0, 0.02) 50%,
        rgba(0, 0, 0, 0.2) 73.5%,
        rgba(0, 0, 0, 0.5) 75.25%,
        rgba(0, 0, 0, 0.15) 85.25%,
        transparent
      );
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  html,
  body {
    overscroll-behavior-y: none;
  }

  [data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
    counter-reset: line;
    box-decoration-break: clone;
  }
  [data-rehype-pretty-code-fragment] .line {
    @apply px-4 py-1;
  }
  [data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }
  [data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-neutral-300 bg-opacity-10;
  }
  [data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
  }
  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md bg-neutral-300 bg-opacity-10 p-1;
  }
  [data-rehype-pretty-code-title] {
    @apply mt-4 py-2 px-4 text-sm font-medium;
  }
  [data-rehype-pretty-code-title] + pre {
    @apply mt-0;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 1ms !important;
      transition-delay: 1ms !important;
    }
  }
}

@layer utilities {
  .bounces {
    overscroll-behavior: unset;
  }
}

@layer components {
  .content-wrapper {
    @apply z-[1] w-full px-6 pb-8 pt-8 lg:px-8 lg:pb-16 lg:pt-24;
  }

  .content {
    @apply mx-auto w-full lg:mb-0 lg:max-w-3xl;
  }

  .scrollable-area {
    @apply h-full min-h-screen overflow-y-auto;
  }
}
